.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.project-text {
  font-size: 60px;
  display: flex;
  /* margin-left: 100px; */
  padding-left: 75px;
  padding-bottom: 50px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #8E00FD;
  text-decoration-thickness: 5px;
}

@media only screen and (max-width: 700px) {
  .project-container {
    flex-direction: column;

  }
  .project-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .project-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-left: 0;
    padding-bottom: 10px;
  }
}