/* .container {
    width: 1300px;
    background-color: #e7e7e7;
} */

.text {
  font-size: 100px;
  color: #8e00fd;
}

.text-two {
  color: white;
}

.page-structure {
  padding-top: 50px;
  padding-bottom: 50px;
}

.soc-intro {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.soc-screenshot-container {
  /* width: 30%; */
  height: 300px;
  display: flex;
  justify-content: flex-start;
  padding-right: 50px;
}

.soc-intro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
}

.soc-header {
  color: white;
  font-size: 70px;
  text-decoration: underline;
  text-decoration-color: #8e00fd;
  text-decoration-thickness: 10px;
}

.soc-header-copy {
  text-align: start;
  font-size: 20px;
  color: white;
  padding-top: 35px;
}

.soc-problem-container {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
}

.header {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 35px;
  text-decoration: underline;
  text-decoration-color: #8e00fd;
  text-decoration-thickness: 5px;
}

.copy {
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 35px;
}

.soc-trello-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.trello-image {
  width: 75%;
  padding-top: 35px;
  display: flex;
  justify-items: center;
}

.soc-demo-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.demo-video {
  padding-top: 20px;
}

.ux-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.wireframes {
  width: 55%;
  padding-top: 35px;
}
.logos-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logos {
  width: 100px;
  height: 100px;
}

.tech-stack-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos-single {
  width: 50px;
  height: 50px;
  justify-content: center;
}

.tech-stack-copy {
  width: 90%;
  text-align: center;
  font-size: 18px;
  color: white;
}

.team-container {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  align-items: center;
}

.manifesto {
  width: 55%;
  padding-top: 35px;
}

.next-steps-container {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
}

.button-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-button {
  background-color: #8e00fd;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
