.dialled-intro {
  width: 100%;
  height: 500px;
  display: flex;
}

.iphone-dialled-container {
  /* width: 30%; */
  height: 300px;
  display: flex;
  justify-content: flex-start;
}

.iphone-dialled {
  width: 480px;
  height: 500px;
  justify-content: center;
}

.dialled-intro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
}

.dialled-header {
  color: white;
  font-size: 70px;
  text-decoration: underline;
  text-decoration-color: #8e00fd;
  text-decoration-thickness: 10px;
}

.dialled-header-copy {
  text-align: start;
  font-size: 20px;
  color: white;
  padding-top: 35px;
}

.dialled-desc-copy {
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 35px;
}

.dialled-desc-headers {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 35px;
  text-decoration: underline;
  text-decoration-color: #8e00fd;
  text-decoration-thickness: 5px;
}

.dialled-mobile-app-images {
  width: 180px;
  height: 400px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.dialled-website-images {
  width: 550px;
  height: 400px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.line-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.line-divider {
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.466);
}

.footer {
  display: flex;
  align-items: flex-end;
}
