.intro {
  width: 100%;
  height: 550px;
  display: flex;
}

.intro-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 75px;
}

.iphone-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}