.intro {
  width: 100%;
  height: 550px;
  display: flex;
}

.intro-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iphone-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro-one {
  display: flex;
  flex-direction: row;
  padding-bottom: 45px;
}

.tech-stack-title {
  text-align: end;
  padding-right: 25px;
  color: white;
  font-size: 40px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
