.intro {
  width: 100%;
  display: flex;
}

.intro-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iphone-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro-one {
  display: flex;
  flex-direction: row;
  padding-bottom: 45px;
}

.tech-stack-title {
  text-align: end;
  padding-right: 25px;
  padding-bottom: 10px;
  color: white;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #8E00FD;
  text-decoration-thickness: 5px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .iphone-container {
    display: none;
  }

  .intro-one {
    flex-direction: column-reverse;
  }

  .intro-two {
    display: flex;
  }

  .tech-stack-title {
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    justify-content: center;
  }
}