.testimonial-header {
    font-size: 60px;
    display: flex;
    /* margin-left: 100px; */
    padding-left: 75px;
    padding-bottom: 50px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #8E00FD;
    text-decoration-thickness: 5px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.quote-copy {
    font-size: larger;
    color: white;
}

.quote-name {
    color: white;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: #8E00FD;
    text-decoration-thickness: 3px;
}

@media only screen and (max-width: 700px) {
    .testimonial-header {
        font-size: 40px;
        padding-left: 20px;
    }

    .testimonial-container {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .left-container,
    .right-container {
        width: 90%;
    }

    .quote {
        padding-left: 10px;
        padding-right: 10px;
    }

    .quote-copy,
    .quote-name {
        font-size: medium;
    }
 }
