.tech-stack-card-text {
    text-decoration: underline;
    text-decoration-color: #8E00FD;
    text-decoration-thickness: 3px;
    color: white;
}

.tech-stack-card {
    padding: 0 20px;
}

@media only screen and (max-width: 700px) {
    .tech-stack-card {
        padding: 0 10px;

        img {
            height: 40px;
            width: 40px;
        }
    }   
}